# Data Analysis: Heroes of Pymoli

### Trends

- There are 576 players which are predominantly males (84%). Females represent 14% of the data. This significant difference in gender percentage is evident when analyzing the total purchase value by gender where males spent \\$1967.64 compared to the \\$361.94 spent by females. 
- The largest age group is 20-24 (46.8%) followed by 15-19 (17.4%) and 25-29 (13%). The age group 20-24 also represents the largest group of spenders which is slightly under 50% of the total revenue. The top spender has a relatively low purchase count of 5 items, which demonstrates that most of the revenue comes from single-item purchases with higher prices.  
- The ‘Average Purchase’ and ‘Average Price’ are slightly close with approximately $1.00 difference. Four of the most popular items of 179 unique items represent 7% of the total revenue. These 4 items are priced approximately 30% higher than the average price. The fifth most popular item is one of the lowest priced items. The most popular and most profitable items lists are similar, thus reinforcing that higher prices do not deter the players’ spending habits.

In [1]:
#Import Pandas Library 
import pandas as pd

In [2]:
# Set CSV path to import data 
csv_path = "Resources/purchase_data.csv"

# Read the CSV into a Pandas DataFrame
data = pd.read_csv(csv_path)

# Display columns for easy reference 
data.head(0)

Empty DataFrame
Columns: [Purchase ID, SN, Age, Gender, Item ID, Item Name, Price]
Index: []

In [3]:
# Check if there is any null entry in the data
data.isnull().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

### Player Count

In [4]:
# Count the total number of players
player_count = len(data["SN"].unique())
player_count

# Display the total number of players in dataframe
total = pd.DataFrame({"Total Players" :[player_count]})
total

   Total Players
0            576

 ### Purchasing Analysis  (Total)

In [5]:
# Identify unique items and drop any duplicates 
items = data['Item ID'].drop_duplicates(keep='first')

# Count the total of unique items 
items_count = len(items)

# Calculate the average price 
average_price = round(data["Price"].mean(),2)

# Count the total number of purchases
number_purchases = data["Purchase ID"].count()

# Calculate the total revenue 
total_revenue = data["Price"].sum()

# Display results in dataframe 
purchasing_total = pd.DataFrame({"Number of Unique Items": [items_count],
                            "Average Price": [average_price],
                            "Number of Purchases": [number_purchases],
                            "Total Revenue": [total_revenue]})

# Change format of 'Average Price' and 'Total Revenue' to currency 
purchasing_total [["Average Price","Total Revenue"]] \
= purchasing_total [["Average Price","Total Revenue"]].applymap("${:,.2f}".format)

purchasing_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

### Gender Demographics

In [6]:
# Drop any duplicates 
players = data[["Gender", "SN"]].drop_duplicates(keep='first')

# Count the amount of players by gender
gender_count = players["Gender"].value_counts()

# Calculate the percentage of players by gender
gender_percent = (round(gender_count / players["Gender"].count() * 100, 2))

# Display the gender demographics in a table
gender_demo = pd.DataFrame({"Total Count": gender_count,
                          "Percentage of Players" : gender_percent})

# Change the format 'Percentage of Players' to percentage
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].apply("{0:.2f}%".format)

# Rename the axis to show data label "Gender"
gender_demo = gender_demo.rename_axis("Gender")

gender_demo.reset_index()

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

###  Purchasing Analysis (Gender)

In [7]:
# Group by Gender
gender = data.groupby(["Gender"])

# Count the amount of purchases by gender
purch_count_gender = gender["SN"].count()

# Calculate the average purchase price
avg_price_gender = gender["Price"].mean()

# Calculate the total purchase value
purch_tot_gender = gender["Price"].sum()

# Drop any duplicates 
duplicates = data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])

# Calculate the average purchase total per person by gender
avg_tot_gender = (gender["Price"].sum() / grouped_dup["SN"].count())


# Display results in DataFrame 
purchasing_gender = pd.DataFrame({"Purchase Count": purch_count_gender,
                                  "Average Purchase Price": avg_price_gender,
                                  "Total Purchase Value": purch_tot_gender,
                                  "Avg Total Purchase per Person": avg_tot_gender})

# Format values 
purchasing_gender["Average Purchase Price"] = purchasing_gender["Average Purchase Price"].apply("${:.2f}".format)
purchasing_gender["Total Purchase Value"] = purchasing_gender["Total Purchase Value"].apply("${:.2f}".format)
purchasing_gender["Avg Total Purchase per Person"] = purchasing_gender["Avg Total Purchase per Person"].apply("${:.2f}".format)
purchasing_gender = purchasing_gender[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

purchasing_gender.reset_index()

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,$1967.64,$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age Demographics

In [8]:
# Drop any duplicates 
players = data[["Age", "SN"]].drop_duplicates()

# Establish bins for ages and age group
bins = [0,9,14,19,24,29,34,39,100]
age_group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize the existing players using the age bins. 
players['Age Range'] = pd.cut(players['Age'], bins)

# Calculate the numbers and percentages by age group
age_count = players["Age Range"].value_counts()
age_percent = ((age_count/players["SN"].count()) * 100).round(2)

# Display results in DataFrame and format Percentage of Players values to percent %
players = pd.DataFrame({'Age Ranges': age_group, 'Total Count': age_count,'Percentage of Players': age_percent})
players['Percentage of Players'] = players['Percentage of Players'].apply('{:.2f}%'.format)

players.style.hide_index()

### Purchasing Analysis (Age)

In [9]:
# Categorize the players using the age bins. 
data['Age Ranges'] = pd.cut(data['Age'], bins)
age_count = data["Age Ranges"].value_counts()

# Group by age
age = data.groupby(["Age Ranges"])

# Count the amount of purchases by gender
purch_count_age = age["SN"].count()

# Calculate the average purchase price
avg_price_age = age["Price"].mean()

# Calculate the total purchase value
purch_tot_age = age["Price"].sum()

# Drop any duplicates
duplicates = data.drop_duplicates(subset='SN', keep="first")
age_dup = duplicates.groupby(["Age Ranges"])

# Calculate the average purchase total per person by gender
avg_tot_age = (age["Price"].sum() / age_dup["SN"].count())


# Display results in DataFrame 
purchasing_age = pd.DataFrame({'Age Ranges': age_group, 
                               'Purchase Count': purch_count_age,
                               'Average Purchase Price': avg_price_age,
                               'Total Purchase Value': purch_tot_age, 
                               'Avg Total Purchase per Person': avg_tot_age})


# Format values 
purchasing_age["Average Purchase Price"] = purchasing_age["Average Purchase Price"].apply("${:.2f}".format)
purchasing_age["Total Purchase Value"] = purchasing_age["Total Purchase Value"].apply("${:.2f}".format)
purchasing_age["Avg Total Purchase per Person"] = purchasing_age["Avg Total Purchase per Person"].apply("${:.2f}".format)
purchasing_age = purchasing_age[["Age Ranges","Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]


purchasing_age.style.hide_index()

###  Top Spenders

In [10]:
# Count the frequency of purchases by players
purch_count_sn = data.groupby("SN")["Price"].count()

# Caluculate average price spent by user
cal_purch_price_sn = data.groupby("SN")["Price"].mean()
purch_price_sn = cal_purch_price_sn.map("${:,.2f}".format)

# Calculate total price spent by user
purch_tot_sn = data.groupby("SN")["Price"].sum()

# Display in DataFrame
top_spenders = pd.DataFrame({"Purchase Count": purch_count_sn,
                             "Average Purchase Price": purch_price_sn,
                             "Total Purchase Value": purch_tot_sn})

# Sort by total purchase value (do this before changing the format to currency to avoid changing types to string)
top_spenders = top_spenders.sort_values(by = "Total Purchase Value",ascending = False)

# Change the format to currency
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)

top_spenders.reset_index().head()

            SN  Purchase Count Average Purchase Price Total Purchase Value
0    Lisosia93               5                  $3.79               $18.96
1  Idastidru52               4                  $3.86               $15.45
2   Chamjask73               3                  $4.61               $13.83
3       Iral74               4                  $3.40               $13.62
4  Iskadarya95               3                  $4.37               $13.10

### Most Popular Items

In [11]:
# Identify the most popular items by 'Item ID' count
popular_item = data.groupby(["Item ID","Item Name"])["Price"].count()

# Calculate the total sales amount by 'Item ID' and 'Item Name'
sales_tot_item= data.groupby(["Item ID","Item Name"])["Price"].sum()

# Retrieve the item price
item_price = sales_tot_item / popular_item

# Display results in DataFrame
items = pd.DataFrame({"Purchase Count": popular_item,
                      "Item Price" : item_price,
                      "Total Purchase Value": sales_tot_item})

# Sort by purchase count in descending order
items = items.sort_values("Purchase Count", ascending = False)

# Change the format to currency
items[["Item Price", "Total Purchase Value"]] \
= items[["Item Price", "Total Purchase Value"]].applymap("${:.2f}".format)

items.reset_index().head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,92,Final Critic,13,$4.61,$59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
2,145,Fiery Glass Crusader,9,$4.58,$41.22
3,132,Persuasion,9,$3.22,$28.99
4,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

### Most Profitable Items

In [12]:
# Remove formatting from Total Purchase Value and asign type float
items["Total Purchase Value"] = items["Total Purchase Value"].str.replace('$', '')
items["Total Purchase Value"] = pd.to_numeric(items["Total Purchase Value"])

# Sort the above table by total purchase value in descending order
items = items.sort_values("Total Purchase Value", ascending = False)

# Change the format to currency
items["Total Purchase Value"] = items["Total Purchase Value"].apply("${:.2f}".format)

items.reset_index().head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,92,Final Critic,13,$4.61,$59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
2,82,Nirvana,9,$4.90,$44.10
3,145,Fiery Glass Crusader,9,$4.58,$41.22
4,103,Singed Scalpel,8,$4.35,$34.80