# Data Analysis: Heroes of Pymoli

In [1]:
#Import Pandas Library 
import pandas as pd

In [2]:
# Set CSV path to import data 
csv_path = "Resources/purchase_data.csv"

# Read the CSV into a Pandas DataFrame
data = pd.read_csv(csv_path)

# Display columns for easy reference 
data.head(0)

Empty DataFrame
Columns: [Purchase ID, SN, Age, Gender, Item ID, Item Name, Price]
Index: []

In [3]:
# Check if there is any null entry in the data
data.isnull().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

### Player Count

In [4]:
# Count the total number of players
player_count = len(data["SN"].unique())
player_count

# Display the total number of players in dataframe
total = pd.DataFrame({"Total Players" :[player_count]})
total

   Total Players
0            576

 ### Purchasing Analysis

In [5]:
# Identify unique items and drop any duplicates 
items = data['Item ID'].drop_duplicates(keep='first')
items

# Count the total of unique items 
items_count = len(items)
items_count 

# Calculate the average price 
average_price = round(data["Price"].mean(),2)
average_price

# Count the total number of purchases
number_purchases = data["Purchase ID"].count()
number_purchases

# Calculate the total revenue 
total_revenue = data["Price"].sum()
total_revenue

# Display results in dataframe 
purchase_df = pd.DataFrame({"Number of Unique Items": [items_count],
                            "Average Price": [average_price],
                            "Number of Purchases": [number_purchases],
                            "Total Revenue": [total_revenue]})

# Change format of 'Average Price' and 'Total Revenue' to currency 
purchase_df [["Average Price","Total Revenue"]] \
= purchase_df [["Average Price","Total Revenue"]].applymap("${:,.2f}".format)

purchase_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

### Gender Demographics

In [7]:
# Drop any duplicates 
players = data[["Gender", "SN"]].drop_duplicates()

# Count the amount of players by gender
gender_count = players["Gender"].value_counts()

# Calculate the percentage of players by gender
gender_percent = (round(gender_count / players["Gender"].count() * 100, 2))

# Display the gender demographics in a table
gender_df = pd.DataFrame({"Total Count": gender_count,
                          "Percentage of Players" : gender_percent})

# Change the format 'Percentage of Players' to percentage
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{0:.2f}%".format)

gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%