# Data Analysis: Heroes of Pymoli

In [1]:
#Import Pandas Library 
import pandas as pd

In [5]:
# Set CSV path to import data 
csv_path = "Resources/purchase_data.csv"

# Read the CSV into a Pandas DataFrame
data = pd.read_csv(csv_path)

In [7]:
# Check if there is any null entry in the data
data.isnull().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

### Player Count

In [9]:
# Count the total number of players
player_count = len(data["SN"].unique())
player_count

# Display the total number of players in dataframe
total = pd.DataFrame({"Total Players" :[player_count]})
total

   Total Players
0            576

 ### Purchasing Analysis

In [32]:
# Identify unique items
items = data['Item ID'].drop_duplicates(keep='first')
items

# Count the total of unique items 
items_count = len(items)
items_count 

# Calculate the average price 
average_price = round(data["Price"].mean(),2)
average_price

# Count the total number of purchases
number_purchases = data["Purchase ID"].count()
number_purchases

# Calculate the total revenue 
total_revenue = data["Price"].sum()
total_revenue

# Display results in dataframe and format 'Average Price' and 'Total Revenue' to currency 
results = pd.DataFrame({"Number of Unique Items" : [items_count],
                       "Average Price" : ['${:,.2f}'.format(average_price)],
                       "Number of Purchases": [number_purchases],
                       " Total Revenue": ['${:,.2f}'.format(total_revenue)]})
results

   Number of Unique Items Average Price  Number of Purchases   Total Revenue
0                     179         $3.05                  780         2379.77